html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
    background: #fff;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.main-search {
    height: 70%;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/custom-search.gif);
    background-size: cover;
/*    background-position-y: -188px;*/
    height: 60vh;
    /* Firefox */

    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;
    /* Safari and Chrome */

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /* W3C */

    display: box;
    box-pack: center;
    box-align: center;
}

.container {
    height: 50%;
    position: relative;
    margin: 0 auto;
}

.search-heading {
    font-size: 40px;
    font-weight: 400;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.15), 2px 1px 6px #fff;
/*        2px 0px rgb(234, 238, 255);*/
    color: whitesmoke;
    text-transform: capitalize;
}

.search-subheading {
    font-size: 25px;
    font-weight: 300;
    color: #92FBFF;
    padding: 1% 0;
}

.custom_search {
    min-width: 570px;
    width: 78%;
    -moz-border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 10px;
    height: 47px;
/*    margin: auto;*/
    position: relative;
    text-align: center;
}

.btn-group {
    width: 207px;
    border-radius: 2px;
/*    float: left;*/
    border: 1px inset rgba(206, 206, 206, 0.37);
    cursor: pointer;
    height: 39px;
    background-color: white;
    margin-top: 3px;
    margin-left: 4px;
}

.search-submit-button {
    border-radius: 3px;
    height: 40px;
    width: 110px;
    text-align: center;
    overflow: visible;
    position: relative;
    border: 0;
    margin: 4px 7px 0px 10px;
    padding: 0;
/*    float: left;*/
    cursor: pointer;
    background-color: rgb(0, 153, 255);
    color: white;
    font-weight: bold;
    text-shadow: #B3B3B3 0px 0px 2px;
}

select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}

.styled-select {
    overflow: hidden;
    background: url(../images/down_arrow_select.jpg) no-repeat right #ddd;
    border: 1px solid #ccc;
}

.main-categories-heading {
    height: 3%;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 180%;
    font-weight: bolder;
    box-sizing: border-box;
}

.group {
    width: 80%;
    margin: 0 auto;
}
/*  SECTIONS  */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}
/*  COLUMN SETUP  */

.col {
    display: block;
    float: left;
    border: 1px solid #000;
    margin: 1% 0 1% 1.6%;
    padding: 1%;
    height: 360px;
    box-sizing: border-box;
}

.col:first-child {
    margin-left: 0;
}
/*  GROUPING  */

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
    /* For IE 6/7 */
}
/*  GRID OF FOUR  */

.span_4_of_4 {
    width: 100%;
}

.span_3_of_4 {
    width: 74.6%;
}

.span_2_of_4 {
    width: 49.2%;
}

.span_1_of_4 {
    width: 23%;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }
    .span_1_of_4,
    .span_2_of_4,
    .span_3_of_4,
    .span_4_of_4 {
        width: 100%;
    }
}

.group-more {
    float: right;
    font-size: 15px;
}

.group-title {
    padding: 0 1%;
    margin: 0.5%;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.body-index {
    margin: 50px auto;
}
